<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <main>
       <h1>Search Results</h1>
       <div>
      <%bookData.forEach(data=>{%>
       <img src="<%=data.bookImg%>" >
      <h2><%=data.bookName%></h2>
      <h4><%=data.bookAuthor%></h4>
      <p><%=data.bookDesc%></p>

        <%})%>
    </div>
   </main> 
</body>
</html>